<html>
    <head>
        <title>Defensoría de audiencia</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Defensoría de Audiencia</a></h1>
        </div>
            <hr class="red">
        <div>
            <h3><a href="/">¿Quién es la Defensora?</a></h3>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-justify">
                Beatriz Solís Leree, experta en derecho a la información y en investigación de medios. Desde 1974 es profesora titular de la Universidad Autónoma Metropolitana, Unidad Xochimilco en el Departamento de Educación y Comunicación. En junio de 2015 recibió el nombramiento como “Profesora Distinguida” por sus méritos académicos.
            </p>
            <p class="text-justify">
                Es integrante del Consejo Directivo de la Organización Interamericana de Defensoras y Defensores de las Audiencias (OID) y de la Asociación Mexicana de Defensorías de las Audiencias (AMDA) y de la Comisión Mexicana de Defensa y Promoción de los Derechos Humanos.
            </p>
            <p class="text-justify" >
                Fundadora e integrante de los Consejos Directivos de la Asociación Mexicana de Investigadores de la Comunicación (AMIC), del Consejo Nacional para la Enseñanza y la Investigación de las Ciencias de la Comunicación (CONEICC), de la Asociación Mexicana de Derecho a la Información (AMEDI), ésta última le otorgó en noviembre de 2016 el Premio AMEDI a la Trayectoria en Derecho a la Información.
            </p>
            <p class="text-justify">
                Fue Defensora de las Audiencias de Radio Educación en el periodo 2012-2014 y miembro del Consejo Ciudadano de Programación del Canal del Congreso de 2007 a 2012.
            </p>
            <p class="text-justify">
                Actualmente es Defensora de las Audiencias del Sistema Público de Radiodifusión del Estado Mexicano, de los canales Ingenio Tv y Aprende Tv de Televisión Educativa.
            </p>
        </div>
    </div>
</section>
        <hr class="red">
        <div>
         <h3><a href="/">¿Qué es la Defensoría de Audiencias</a></h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-justify">
                La <strong>Defensoría de las Audiencias</strong> es un espacio de diálogo entre las audiencias y el medio, con el objetivo de motivar la participación ciudadana frente a la programación ofrecida por los canales de televisión Ingenio Tv y Aprende TV de Televisión Educativa, a partir de estimular el ejercicio pleno de los derechos de las audiencias.
            </p>
            <p class="text-justify">
                La figura del Defensor de la Audiencia es un derecho instaurado en la Ley Federal de Telecomunicaciones y Radiodifusión de 2014 y se constituye como pieza clave en la preservación, protección y defensa de los derechos de las audiencias, por lo que su participación es el principal garante de la funcionalidad de esta figura.
            </p>
            <p class="text-justify">
                La Defensoría participa directamente en la construcción de audiencias críticas, identifica y procesa las demandas y opiniones motivadas por la audiencia respecto a la programación. Son obligaciones establecidas por ley: recibir, documentar, procesar y dar seguimiento a las observaciones, quejas, sugerencias, peticiones o señalamientos en relación con los derechos de las audiencias (Artículo 259 LFTR).
            </p>
            <p class="text-justify">
                La existencia de la Defensoría de las Audiencias establece un vínculo inherente con los principios de transparencia y participación ciudadana en un medio de servicio público.
            </p>
            <p class="text-justify">
                Hoy opinar, demandar, sugerir, conocer y ejercer sus derechos significa participar en la construcción y preservación de un medio público comprometido con el derecho a la información y la libertad de expresión.
            </p>
        </div>
    </div>
</section>  

        <hr class="red"></hr>
         <h3><a href="/">¿Qué dice la audiencia?</a></h3>
        <hr class="red"></hr>  
        </div>
    </div>
        <div class="mensaje thumbnail">
        <div class="datos">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 header">
                    <p class="nombre">
                     <strong>Nombre: </strong> No Público
                    </p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-3 col-lg-3 header">
                    <p class="text-center">
                        <strong>Fecha: </strong>
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 header">
                    <p class="text-center folio">
                        <strong>Folio: </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="mensaje-contenido">
            <p>
                <strong>Mensaje: </strong>
            </p>
        </div>
        <div id="respuesta">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            LEER MÁS <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                        </h4>
                    </div>
                    <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                <strong>Fecha de respuesta: </strong> 
                            </p>
                            <p>
                                <strong>Respuesta de la defensora: </strong>  
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="mensaje thumbnail">
        <div class="datos">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 header">
                    <p class="nombre">
                        <strong>Nombre: </strong> No Público
                    </p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-3 col-lg-3 header">
                    <p class="text-center">
                        <strong>Fecha: </strong>
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 header">
                    <p class="text-center folio">
                        <strong>Folio: </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="mensaje-contenido">
            <p>
                <strong>Mensaje: </strong>
            </p>
        </div>
        <div id="respuesta">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            LEER MÁS <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                <strong>Fecha de respuesta: </strong> 
                            </p>
                            <p>
                                <strong>Respuesta de la defensora: </strong> 
                            </p>
                            <hr />
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="mensaje thumbnail">
        <div class="datos">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 header">
                    <p class="nombre">
                        <strong>Nombre: </strong> No Público
                    </p>
                </div>
                <div class="col-xs-8 col-sm-8 col-md-3 col-lg-3 header">
                    <p class="text-center">
                        <strong>Fecha: </strong>
                    </p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 header">
                    <p class="text-center folio">
                        <strong>Folio: </strong>
                    </p>
                </div>
            </div>
        </div>
        <div class="mensaje-contenido">
            <p>
                <strong>Mensaje: </strong>
            </p>
        </div>
        <div id="respuesta">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            LEER MÁS <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                        </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                                <strong>Fecha de respuesta: </strong> 
                            </p>
                            <p>
                                <strong>Respuesta de la defensora: </strong> 
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section><section id="paginacion">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            
        </div>
    </div>
</section> 

           
           <h3><a href="/">Derecho de las audencias</a></h3>
           
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                <ol>
                    <li>
                        <p class="text-justify">
                            Recibir servicios públicos de radiodifusión sin ningún tipo de discriminación sea por origen étnico o nacional, el género, la edad, las discapacidades, la condición social, las condiciones de salud, la religión, las opiniones, las preferencias sexuales, el estado civil o cualquier otra que atente contra la dignidad humana y tenga por objeto anular o menoscabar los derechos y libertades de las personas. (Artículo 2) (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Tener acceso a la información sobre las concesiones y la infraestructura de telecomunicaciones y radiodifusión integrada en el registro público que lleve el IFT. (Artículo 176)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify" >
                            A ejercer libremente, sin limitación alguna ni censura previa ni persecución o investigación judicial o administrativa, el derecho a la información, de expresión y de recepción de contenidos a través del servicio público de radiodifusión y de audio y televisión restringidos. (Artículo 222)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación que propicie la integración familiar. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación que propicie el desarrollo armónico de la niñez. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación que difunda los valores artísticos, históricos y culturales. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación que afirme nuestra unidad nacional. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación que propicie la igualdad entre hombres y mujeres. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación que divulgue el conocimiento científico y técnico. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir información que haga uso correcto del lenguaje. (Artículo 223)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a bloquear canales y programas de la TV restringida. (Artículo 225)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a contar con programación radiodifundida dirigida a la niñez que atienda los siguientes principios:
                            <ol type="a">
                                <li>
                                    <p class="text-justify">
                                        Difundir información y programas que fortalezcan los valores culturales, éticos y sociales;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Evitar transmisiones contrarias a los principios de paz, no discriminación y de respeto a la dignidad de todas las personas;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Evitar contenidos que estimulen o hagan apología de la violencia;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Informar y orientar sobre los derechos de la infancia;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Promover su interés por la comprensión de los valores nacionales y el conocimiento de la comunidad internacional;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Estimular su creatividad, así como su interés por la cultura física, la integración familiar y la solidaridad humana;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Propiciar su interés por el conocimiento, particularmente en aspectos científicos, artísticos y sociales;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Fomentar el respeto a los derechos de las personas con discapacidad;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Promover una cultura ambiental que fomente la conciencia, la conservación, el respeto y la preservación del medio ambiente;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Estimular una cultura de prevención y cuidado de la salud;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Proporcionar información sobre protección contra todo tipo de explotación infantil y de trata de personas;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Promover la tolerancia y el respeto a la diversidad de opiniones;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Promover el derecho de las mujeres a una vida libre de violencia;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Proteger la identidad de las víctimas de delitos sexuales, y
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Cumplir con la clasificación y los horarios relativos a la utilización y difusión de contenidos pornográficos. (Artículo 226)
                                    </p>
                                </li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a recibir avisos parentales ante programas que puedan afectar el desarrollo de la infancia y los principios del artículo 226.
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a ser informado de la clasificación de los programas transmitidos a través de los medios (Artículo 227) (Clasificación no establecida en la ley)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación en el idioma nacional y en caso de otro idioma, derecho a contar con subtitulaje (Artículo 230)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A recibir programación diaria con información sobre acontecimientos de carácter político, social, cultural y asuntos de interés general (Artículo 231)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a recibir programación de la señal radiodifundida en los canales del servicio restringido. (Artículo 232)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a recibir publicidad y programación que guarden equilibrio con el conjunto de la programación. (Artículo 237)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a no recibir publicidad engañosa ni publicidad o propaganda presentada como información (Artículo 238)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a recibir publicidad ajustada a la clasificación horaria (Artículo 224)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            A que la publicidad destinada a la población infantil se atiendan los criterios establecidos en el artículo 246.
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a recibir contenidos que reflejen el pluralismo ideológico, político, social y cultural y lingüístico de la Nación; (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a recibir programación que incluya diferentes géneros que respondan a la expresión de la diversidad y pluralidad de ideas y opiniones que fortalezcan la vida democrática de la sociedad; (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a que en la programación se diferencie con claridad la información noticiosa de la opinión de quien la presenta. (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            En radiodifusión, que en la transmisión de programación se aporten elementos para distinguir entre la publicidad y el contenido de un programa. (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            En los servicios radiodifundidos, que se respeten los horarios de los programas y que se avise con oportunidad los cambios a la misma y se incluyan avisos parentales. (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a ejercer el derecho de réplica, en los servicios radiodifundidos, en términos de la ley reglamentaria. (Artículo 256) (Que no existe)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Que se mantenga la misma calidad y niveles de audio y video durante la programación de los servicios de radiodifusión, incluidos los espacios publicitarios. (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Recibir servicios de radiodifusión donde no exista ningún tipo de discriminación motivada por origen étnico o nacional, el género, la edad, las discapacidades, la condición social, las condiciones de salud, la religión, las opiniones, las preferencias sexuales, el estado civil o cualquier otra que atente contra la dignidad humana y tenga por objeto anular o menoscabar los derechos y libertades de las personas. (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Recibir programación que respete los derechos humanos, el interés superior de la niñez, la igualdad de género y la no discriminación. (Artículo 256)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Las audiencias con discapacidad gozarán, además de los otros derechos, los siguientes: (Artículo 258)
                            <ol type="a">
                                <li>
                                    <p class="text-justify">
                                        Contar con servicios de subtitulaje, doblaje al español y lengua de señas mexicana para accesibilidad a personas con debilidad auditiva. Estos servicios deberán estar disponibles en al menos uno de los programas noticiosos de mayor audiencia a nivel nacional; 
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        A que se promueva el reconocimiento de sus capacidades, méritos y habilidades, así como la necesidad de su atención y respeto;
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        A contar con mecanismos que les den accesibilidad para expresar sus reclamaciones, sugerencias y quejas a los defensores de las audiencias, siempre y cuando no represente una carga desproporcionada o indebida al concesionario, y
                                    </p>
                                </li>
                                <li>
                                    <p class="text-justify">
                                        Acceso a la guía de programación a través de un número telefónico o de portales de Internet de los concesionarios en formatos accesibles para personas con discapacidad.
                                    </p>
                                </li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a conocer los Códigos de ética de los concesionarios de radio y televisión donde queden explícitos los mecanismos de su protección. (Artículo 256 último párrafo)
                        </p>
                    </li>
                    <li>
                        <p class="text-justify">
                            Derecho a contar con un defensor de la audiencia en los medios para recibir, documentar, procesar y dar seguimiento a las observaciones, quejas, sugerencias, peticiones o señalamientos que hagan las audiencias. (Artículo 259)
                        </p>
                    </li>
                </ol>
            </p>
        </div>
    </div>
</section>
            <hr class="red">
            <h3><a href="/">Comunicate</a></h3>
             <hr class="red">
         <h3>¿Cómo y cuándo quejarse o enviar un comentario?</h3>
           
        </div>
    </div>
    <div clas="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-justify">
                Usted puede enviar comentarios, sugerencias, aclaraciones o demandas cuando considere vulnerado un derecho como audiencia, tome en cuenta que al comunicarse con nosotros, usted nos proporciona información valiosa en torno a su opinión, los gustos, inquietudes y aciertos.
            </p>
            <p class="text-justify">
                Es importante que usted participe y opine, sus ideas son nuestro punto de partida.
            </p>
        </div>
    </div>
</section>
<section id="que-pasa-despues">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             <hr class="red">
            <h3>¿Qué pasa después de quejarse o haber enviado un comentario?</h3>
            
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-justify">
                Al momento de recibir su comentario, usted recibirá respuesta por parte de la Defensoría indicándole cual será el tratamiento de su mensaje, en el mayor de los casos sus mensajes se canalizan a las áreas vinculadas al tema referido para que sean de su conocimiento y nos den una respuesta inmediata para ser atendida su inquietud o sugerencia.
            </p>
            <p class="text-justify">
                Todos los mensajes son registrados y ordenados en categorías para tener un seguimiento constante de la opinión de las audiencias. Por lo que es importante proporcionar los datos señalados como obligatorios en el formulario.
            </p>
        </div>
    </div>
</section><section id="criterios-queja">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr class="red">
            <h3>¿Cuáles son los criterios para hacer pública una queja en el portal y qué pasa con las quejas o comentarios que no se hacen públicos?</h3>
           
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="text-justify">
                El ejercicio de la Defensoría es una actividad pública, consideramos relevante que todos los comentarios se publiquen en el sitio web, para lo cual los datos personales serán debidamente protegidos.
            </p>
            <p class="text-justify">
                Sólo serán excluidos aquellos que no procedan por haber sido emitidos de manera anónima o no corresponder a los ámbitos propios de la programación. Los comentarios que estén relacionados con los derechos de las audiencias, serán difundidos con mayor amplitud, con el fin de responder a la audiencia.
            </p>
        </div>
    </div>
</section>
<section class="defensoria-form">
    <div class="row">
        <form id="form-data" name="form-data" method="POST" action="https://defensoria.televisioneducativa.gob.mx/mensaje">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <hr class="red"></hr>
                <h3>Formulario</h3>
                
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 container-fluid">
                <p class="text-justify">
                    Los datos marcados como obligatorios, con un asterisco (<spand style="color: #D0021B;">*</spand>), son necesarios para poder entrar en contacto con usted. Sin embargo lo invitamos a llenar todas las casillas, as&iacute; usted nos brinda informaci&oacute;n valiosa para construir el perfil de nuestras audiencias. Una vez que termine de llenar las variables, no olvide darle clic al bot&oacute;n <strong>Enviar</strong>.
                </p>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-nombre">
                        <label class="control-label" for="nombre" id="label-nombre">Nombre: <spand style="color: #D0021B;">*</spand></label>
                        <input title="Se requiere de un nombre" type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" maxlength="50"/>
                    </div>
                    <div id="mensaje-nombre"></div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-apaterno">
                        <label class="control-label" for="apaterno">Apellido paterno: <spand style="color: #D0021B;">*</spand></label>
                        <input type="text" class="form-control" id="apaterno" name="apaterno" placeholder="Apellido paterno" maxlength="50" />
                    </div>
                    <div id="mensaje-apaterno"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-amaterno">
                        <label class="control-label" for="amaterno">Apellido materno:</label>
                        <input type="text" class="form-control" id="amaterno" name="amaterno" placeholder="Apellido materno" />
                    </div>
                    <div id="mensaje-materno"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    <div class="form-group" id="form-edad">
                        <label class="control-label" for="amaterno">Edad: <spand style="color: #D0021B;">*</spand></label>
                        <input type="number" class="form-control" id="edad" name="edad" placeholder="Edad" min="10" max="99" />
                    </div>
                    <div id="mensaje-materno"></div>
                </div>
                
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-ocupacion">
                        <label class="control-label" for="ocupacion">Ocupaci&oacute;n:</label>
                        <select class="form-control" id="ocupacion" name="ocupacion">
                            <option selected value="">Selecciona una opci&oacute;n</option>
                            <option value="Otro">Otro</option>
                            <option value="Abogado">Abogado</option>
                            <option value="Abogado">Administrador de proyectos</option>
                            <option value="Alba&ntilde;il">Alba&ntilde;il</option>
                            <option value="Almacenista">Almacenista</option>
                            <option value="Alphabiotista">Alphabiotista</option>
                            <option value="Analista contable">Analista contable</option>
                            <option value="Arquitecto">Arquitecto</option>
                            <option value="Abogado de Software">Abogado de Software</option>
                            <option value="Asesor comercial">Asesor comercial</option>
                            <option value="Asesor financiero">Asesor financiero</option>
                            <option value="Abogado">Abogado</option>
                            <option value="Asistente de direcci&oacute;n">Asistente de direcci&oacute;n</option>
                            <option value="Auxiliar administrativo">Auxiliar administrativo</option>
                            <option value="Auxiliar de recursos humanos">Auxiliar de recursos humanos</option>
                            <option value="Bibliotecario">Bibliotecario</option>
                            <option value="Bolero">Bolero</option>
                            <option value="Cajero">Cajero</option>
                            <option value="Cantinero">Cantinero</option>
                            <option value="Cargador">Cargador</option>
                            <option value="Carnicero">Carnicero</option>
                            <option value="Carpintero">Carpintero</option>
                            <option value="CEO">CEO</option>
                            <option value="Cocinero">Cocinero</option>
                            <option value="Consejero senior">Consejero senior</option>
                            <option value="Contador">Contador</option>
                            <option value="Corrector de estilo">Corrector de estilo</option>
                            <option value="Costurera">Costurera</option>
                            <option value="Bolero">Bolero</option>
                            <option value="Country Manger">Country Manger</option>
                            <option value="Director General">Director General</option>
                            <option value="Diseñador de Interiores">Diseñador de Interiores</option>
                            <option value="Diseñador Gr&aacute;fico">Diseñador Gr&aacute;fico</option>
                            <option value="Editor">Editor</option>
                            <option value="Ejecutivo de ventas">Ejecutivo de ventas</option>
                            <option value="Electricista">Electricista</option>
                            <option value="Escritor">Escritor</option>
                            <option value="Estilista">Estilista</option>
                            <option value="F&iacute;sico">F&iacute;sico</option>
                            <option value="General Manager">General Manager</option>
                            <option value="General de ventas">General de ventas</option>
                            <option value="Ingeniero Civil">Ingeniero Civil</option>
                            <option value="Ingeniero de Diseño">Ingeniero de Diseño</option>
                            <option value="Ingeniero de Software">Ingeniero de Software</option>
                            <option value="Ingeniero en Rob&oacute;tica">Ingeniero en Rob&oacute;tica</option>
                            <option value="Ingeniero Mec&aacute;tronico">Ingeniero Mec&aacute;tronico</option>
                            <option value="Ingeniero Qu&iacute;mico">Ingeniero Qu&iacute;mico</option>
                            <option value="Licenciado en Filosof&iacute;a">Licenciado en Fisof&iacute;a</option>
                            <option value="Licenciado en inform&aacute;tica">Licenciado en inform&aacute;tica</option>
                            <option value="Maestro o docente">Maestro o docente</option>
                            <option value="Managing Parter">Managing Parter</option>
                            <option value="Maquilista">Maquilista</option>
                            <option value="Masajista">Masajista</option>
                            <option value="Mec&aacute;nico">Me&aacute;nico</option>
                            <option value="Mecan&oacute;grafo">Mecan&oacute;grafo</option>
                            <option value="Minero">Minero</option>
                            <option value="Peluquero">Peluquero</option>
                            <option value="Plomero">Plomero</option>
                            <option value="Pod&oacute;logo">Pod&oacute;logo</option>
                            <option value="Publicista">Publicista</option>
                            <option value="Quiropr&aacute;ctico">Quiropr&aacute;ctico</option>
                            <option value="Relaciones p&uacute;blicas">Relaciones p&uacute;blicas</option>
                            <option value="Reportero">Reportero</option>
                            <option value="Secretaria">Secretaria</option>
                            <option value="Tablajero">Tablajero</option>
                            <option value="T&eacute;cnico en audio">T&eacute;cnico en audio</option>
                            <option value="T&eacute;cnico en mantenimiento">T&eacute;cnico en mantenimiento</option>
                            <option value="Vendedor">Vendedor</option>
                            <option value="Zapatero">Zapatero</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-pais">
                        <label class="control-label" for="pais">Pa&iacute;s: <spand style="color: #D0021B;">*</spand></label>
                        <input type="text" class="form-control" id="pais" name="pais" placeholder="Escribe el nombre de tu país" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-estado">
                        <label class="control-label" for="estado">Estado: <spand style="color: #D0021B;">*</spand></label>
                        <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group" id="form-delegacion">
                        <label class="control-label" for="delegacion">Municipio:</label>
                        <input type="text" class="form-control" id="delegacion" name="delegacion" placeholder="Municipio" />
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 renglon">
                    <div class="form-group" id="form-correo">
                        <label class="control-label" for="correo">Correo electr&oacute;nico: <spand style="color: #D0021B;">*</spand></label>
                        <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo electr&oacute;nico" />
                    </div>
                    <div id="mensaje-correo"></div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 renglon">
                    <p>
                        <label class="control-label" for="motivoMensaje">Motivo del mensaje</label>
                    </p>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <input type="radio" name="motivo[]" id="sugerencia" value="Sugerencia"/> Sugerencia
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <input type="radio" name="motivo[]" id="queja" value="Queja" /> Queja
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <input type="radio" name="motivo[]" id="peticion" value="Petici&oacute;n" /> Petici&oacute;n
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <input type="radio" name="motivo[]" id="opinion" value="Opini&oacute;n"/> Opini&oacute;n
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <input type="radio" name="motivo[]" id="felicitacion" value="Felicitaci&oacute;n" /> Felicitaci&oacute;n
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                        <input type="radio" name="motivo[]" id="Consulta" value="Consulta" /> Consulta
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 renglon">
                    <div class="form-group" id="form-mmensaje">
                        <label class="control-label" for="mmensaje">Mensaje: <spand style="color: #D0021B;">*</spand></label>
                        <textarea class="form-control" rows="3" id="mmensaje" name="mmensaje" onkeydown="longitud()" onkeyup="longitud()"></textarea>
                        <p class="text-right" style="margin-top: 1%;">Caracteres restantes: <spand id="total_caracteres">200</spand></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group" id="anonimo">
                        <label class="control-label" for="autorizarMencion">AUTORIZO LA MENCIÓN DE MI NOMBRE Y APELLIDO EN LA PUBLICACIÓN DE ESTE MENSAJE:&nbsp;<spand style="color: #D0021B;">*</spand></label>
                        <label for="anonimo-si">SI: <input type="radio" name="anonimo" value="si" checked> </label>
                        <label for="anonimo-no">NO: <input type="radio" name="anonimo" value="no"> </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 renglon">
                    <button class="btn btn-default center-block" id="btn" type="submit">Enviar</button>
                </div>
            </div>
            <div id="mensaje" class="renglon"></div>
            <input type="hidden" name="_token" value="mN5qKXyyyRL9OLGgMKWetSfXX08W4hOg3Td38XXt">
        </form>
        <div id="mensaje-servidor" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
        
        </div>
    </div>
</section><section id="contacto" style="margin-top: 30px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>
                O si lo deseas puedes comunicarte a través de:<br>
                <strong>Correo Electrónico:</strong> <a href="mailto:defensoria@tveducativa.gob.mx?Subject=Envio de mensaje" target="_top"">defensoria@tveducativa.gob.mx</a><br>
                <strong>Buzón de voz</strong> del interior de la república: (01-55) - 3601 - 8142<br>
                Ciudad de México y Área metropolitana: 3601 - 8142 
            </p>
        </div>
    </div>
</section>
             <hr class="red">
            <h3><a href="">Normatividad</a></h3>
        </div><section id="normatividad" style="margin-top: 50px">
        <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="https://defensoria.televisioneducativa.gob.mx/docs/normatividad/codigo_de_etica_DGTVE.pdf" target="_blank" style="color: #545454;">
                <p>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Código de Ética de la Dirección General de Televisión Educativa
                </p>
            </a>
        </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="https://defensoria.televisioneducativa.gob.mx/docs/normatividad/lineamientos_derechos_audiencias.pdf" target="_blank" style="color: #545454;">
                <p>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Lineamientos Generales sobre los Derechos de las Audiencias.
                </p>
            </a>
        </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="https://defensoria.televisioneducativa.gob.mx/docs/normatividad/lineamientos_contenidos_audiovisuales.pdf" target="_blank" style="color: #545454;">
                <p>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Lineamientos de Clasificación de Contenidos Audiovisuales de las Transmisiones Radiodifundidas y del Servicio de Televisión y Audio Restringidos.
                </p>
            </a>
        </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="https://defensoria.televisioneducativa.gob.mx/docs/normatividad/ley_derecho_replica.pdf" target="_blank" style="color: #545454;">
                <p>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Ley Reglamentaria del Derecho de Réplica.
                </p>
            </a>
        </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <a href="https://defensoria.televisioneducativa.gob.mx/docs/normatividad/ley_federal_telecomunicaciones.pdf" target="_blank" style="color: #545454;">
                <p>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Ley Federal de Telecomunicaciones y Radiodifusión.
                </p>
            </a>
        </div>
            </div>


        </div>    
    </body>
</html>
